.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Roboto", sans-serif;
    -fx-padding: 40px;

}

.alert_label {
   -fx-font-size: 11pt;
   -fx-font-family: "Roboto Medium", sans-serif;
   -fx-text-fill: red;
}

.h1 {
    -fx-font-weight: bold;
    -fx-font-size: 24pt;
}

.vboxMain {
    -fx-background-color: rgb(255, 255, 255);
    -fx-padding: 30px;
    -fx-spacing: 10px;
    -fx-border-width: 1px;
    -fx-border-color: rgb(235, 235, 235);
    -fx-border-radius: 3px;
}

.vbox {
    -fx-spacing: 3px;
}

.login_label {
   -fx-font-size: 11pt;
   -fx-font-family: "Roboto Medium", sans-serif;
   -fx-text-fill: gray;
}

.submitButton {
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #0066b2;
}

.submitButton, .text-field {
    -fx-pref-height: 40px;
}