.root {
    -fx-background-color: #ffffff;
    -fx-padding: 0px;
}

.nav {
    -fx-padding: 30px;
    -fx-background-color: #fbfcfd;
    -fx-max-width: 300px;
}

.img-logo {
    -fx-padding: 0px 0px 20px 0px;
}

.nav .button {
    -fx-label-padding: 0px 10px;
    -fx-background-radius: 25px;
    -fx-pref-width: 200px;
    -fx-pref-height: 45px;
    -fx-background-color: #fbfcfd;
    -fx-font-weight: bold;
    -fx-text-fill: #9fb1db;
    -fx-alignment: center-left;
    -fx-graphic-text-gap: 20px;
}

.nav .button:hover {
    -fx-text-fill: #0b67b2;
}

.nav .button:hover .glyph-icon,  .nav .button:focused .glyph-icon, .nav .button:pressed .glyph-icon{
    -fx-fill: #0b67b2;
}

.nav .button:pressed, .nav .button:focused{
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0.1, 0.0, 0.0);
    -fx-text-fill: #0b67b2;
}

.glyph-icon {
    -fx-cell-size: 20px;
    -fx-fill: #9fb1db;
    -fx-max-width: 20px;
}

