.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Lato", sans-serif;
    -fx-padding: 40px;
    /*-fx-background-image: url(../img/loginBackground.png);*/
}

.h1 {
    -fx-font-weight: bold;
    -fx-font-size: 24pt;
}



.vbox {
    -fx-spacing: 8px;
}

.label {
   -fx-text-fill: gray;
}

.alert {
   -fx-text-fill: red;
}

.label, .alert {
   -fx-font-size: 11pt;
   -fx-font-family: "Lato Medium", sans-serif;

}

.text-field:focused {
    -fx-border-style: solid outside;
    -fx-border-width: 2px;
    -fx-border-color: #c0cbf9;
    -fx-border-radius: 3px;
}

.submitButton {
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #0066b2;

}

.submitButton:hover {
    -fx-background-color: #004d85;
}

.submitButton:pressed, .submitButton:focused {
    -fx-border-style: solid outside;
    -fx-border-width: 3px;
    -fx-border-color: #a9b5fc;
    -fx-background-color: #004d85;
    -fx-border-radius: 3px;
}

.submitButton, .text-field {
    -fx-min-height: 40px;
}

/*.footer {*/

/*    -fx-background-color: #000000;*/
/*    -fx-border-width: 3px 0px 0px 0px;*/
/*    -fx-border-color: #0066b2;*/
/*    -fx-font-size: 10pt;*/
/*    -fx-alignment: center;*/
/*}*/

/*.footer > .text {*/
/*    -fx-text-fill: #ffffff;*/
/*}*/